[submodule "esp-idf"]
	path = esp-idf
	url = https://github.com/espressif/esp-idf
[submodule "components/esp-face"]
	path = components/esp-face
	url = https://github.com/espressif/esp-face
[submodule "components/esp32-camera"]
	path = components/esp32-camera
	url = https://github.com/espressif/esp32-camera.git
[submodule "components/esp32-ota-server"]
	path = components/esp32-ota-server
	url = https://github.com/tmrttmrt/esp32-ota-server.git
[submodule "components/esp32-wifi-manager"]
	path = components/esp32-wifi-manager
	url = https://github.com/tonyp7/esp32-wifi-manager.git
